<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.14.1/vuedraggable.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="http://unpkg.com/element-ui/lib/index.js"></script>
    <style>@import url("http://unpkg.com/element-ui/lib/theme-default/index.css");</style>
    <style>
    .color-list {
        padding-left: 50px;
    }
    .left {
        border-radius: 5px;
        background-color: rgba(74, 255, 161, 0.58);
    }
    .left-item {
        text-align: left;
        padding: 3px 0;
    }
    .color-item {
        margin: 1px 0;
        display: inline-block;
        font-family: "arial";
    }
    .right {
        border-radius: 5px;
    }
    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }
    .clearfix:after {
        clear: both;
    }
    .right-item {
        width: 950px;
    }
    .box-card {
        width: 150px;
        float: left;
    }
    .image {
        width: 100%;
        display: block;
    }
    .headerbtn {
        margin-bottom: 20px;
    }
    .btnjson {
        display: inline-block;
    }
    .tips {
        margin-left: 5px;
    }
</style>
</head>
<body>
<div id="app">
 <div class="color-list">
        <div class="headerbtn">
                <el-button type="info" @click="showjson=true">查看json</el-button>
                <el-button type="danger" @click="deleteJson">清除json文件</el-button>
            </el-upload>
        </div>
        <el-row :gutter="20">
            <el-col :span="4" class="left">
                <div class="left-item">
                    <draggable v-model="jsondata" :options="{group:'people'}" @end="dragEnd">
                        <div v-for="(item, index) in jsondata">
                            <a>{{index + 1}} </a>
                            <el-badge :value="item.category" class="item">
                                <el-button class="color-item" :plain="true" type="info" size="small">{{item.name}}
                                </el-button>
                            </el-badge>
                        </div>
                    </draggable>
                </div>
            </el-col>
            <el-col :span="16" :offset="2" class="right">
                <div class="right-item">
                    <el-card class="box-card" v-for="item in jsondata" :key="item"
                             :style="{'background-color':item.color}">
                        <div slot="header" class="clearfix">
                            <span style="line-height: 12px;">{{item.name}}</span>
                        </div>
                        <div>
                            <img :src="'http://172.16.31.202:1702/images/dtgames/h/' + item.pic" class="image">
                        </div>
                    </el-card>
                </div>
            </el-col>
        </el-row>

        <el-dialog title="查看json数据" :visible.sync="showjson" modal="full">
            <code>
                <pre>{{ jsonstr }}</pre>
            </code>
        </el-dialog>
    </div>
</div>
</body>
<script>
    var Main = {
        data() {
            return {
                showjson: false,
                jsonstr: {"data": "拖拽后生成数据"},
                fileList: [],
                jsonUrl: '',
                count: 0,
                jsondata: [
                    {
    "eName": "Saiyan Battle",
    "name": "赛亚烈战",
    "id": "dragonball",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "dragonball.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Nightclub",
    "name": "夜店之王",
    "id": "nightclub5x20",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "nightclub5x20.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Basketball Master",
    "name": "灌篮大师",
    "id": "sd",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "sd.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Investiture of Gods",
    "name": "封神榜",
    "id": "tlod",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "tlod.png",
    "tag": [
      "HOT",
      "NEW",
      "BFA"
    ]
  },
  {
    "eName": "whitesnake",
    "name": "白蛇传",
    "id": "whitesnake",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "whitesnake.png",
    "tag": [
      "HOT",
      "NEW",
      "CT"
    ]
  },
  {
    "eName": "Glory of Heroes",
    "name": "英雄荣耀",
    "id": "crystal",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "crystal.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "casino ",
    "name": "3D老虎机",
    "id": "casino",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "casino.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Seiya",
    "name": "圣域传说",
    "id": "seiya",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "seiya.png",
    "tag": [
      "HOT",
      "NEW",
      "CT"
    ]
  },
  {
    "eName": "Fourss",
    "name": "四圣兽",
    "id": "fourss",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "fourss.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Crazy Basketball",
    "name": "劲爆篮球",
    "id": "btball5x20",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "20-25",
    "state": 1,
    "language": "zh_CN",
    "pic": "btball5x20.png",
    "tag": [
      "HOT",
      "NEW",
      "BFA"
    ]
  },
  {
    "eName": "KING OF PIRATE",
    "name": "海盗无双",
    "id": "onepiece",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "onepiece.png",
    "tag": [
      "HOT",
      "NEW",
      "CT"
    ]
  },
  {
    "eName": "Wealthy God Arriving",
    "name": "财神到",
    "id": "tgow",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "tgow.png",
    "tag": [
      "NEW",
      "HOT"
    ]
  },
  {
    "eName": "Naruto",
    "name": "NINJA",
    "id": "naruto",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "naruto.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "DragonPhoenix Prosper",
    "name": "龙凤呈祥",
    "id": "dnp",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "15-20",
    "state": 1,
    "language": "zh_CN",
    "pic": "dnp.png",
    "tag": [
      "HOT",
      "NEW",
      "BFA"
    ]
  },
  {
    "eName": "Xiyouji",
    "name": "西游记",
    "id": "xiyouji5x25",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "xiyouji5x25.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Tales Of Wusong",
    "name": "武松传",
    "id": "watermargin",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "watermargin.png",
    "tag": [
      "HOT",
      "NEW",
      "CT"
    ]
  },
  {
    "eName": "Allah Lamp",
    "name": "阿拉丁神灯",
    "id": "aladdin5x243",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "aladdin5x243.png",
    "tag": [
      "HOT",
      "NEW",
      "CT"
    ]
  },
  {
    "eName": "Chinese Paladin",
    "name": "仙剑奇缘",
    "id": "xjqy5x9",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "xjqy5x9.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "FULUSHOU",
    "name": "福禄寿",
    "id": "fls",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "fls.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Demon Hunt to West",
    "name": "西游降妖",
    "id": "jtw",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "jtw.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "crazy5x243",
    "name": "疯狂转转转",
    "id": "crazy5x243",
    "category": "DT",
    "subType": "DT-2",
    "type": "DEM",
    "line": " ",
    "state": "DEM",
    "language": "zh_CN",
    "pic": "crazy5x243.png",
    "jackpot": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Happy New Year",
    "name": "新年到",
    "id": "newyear",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "newyear.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Basketball Master 2",
    "name": "灌篮大师2",
    "id": "sd5",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "sd5.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Fighting Spirit",
    "name": "格斗之魂",
    "id": "kof",
    "language": "zh_CN",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "pic": "kof.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Battle of Red Cliffs",
    "name": "赤壁之战",
    "id": "san",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "san.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Fantasy Forest",
    "name": "梦幻森林",
    "id": "fantasyforest3x1",
    "language": "zh_CN",
    "pic": "fantasyforest3x1.png",
    "category": "DT",
    "subType": "DT-1",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Five Elements",
    "name": "五行世界",
    "id": "fiveelements5x9",
    "language": "zh_CN",
    "pic": "fiveelements5x9.png",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW",
      "BFA"
    ]
  },
  {
    "eName": "XIYOUCHUANQI",
    "name": "降妖传奇",
    "id": "xiyouji5x9",
    "category": "DT",
    "subType": "DT-1",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "xiyouji5x9.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Watermargin",
    "name": "水浒传",
    "id": "watermargin5x25",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "watermargin5x25.png",
    "tag": [
      "HOT",
      "NEW",
      "BFA"
    ]
  },
  {
    "eName": "The King of Fighters98",
    "name": "拳皇98",
    "id": "kof5x9",
    "language": "zh_CN",
    "pic": "kof5x9.png",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Doraemon",
    "name": "哆啦A梦",
    "id": "doraemon3x5",
    "language": "zh_CN",
    "pic": "doraemon3x5.png",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Onepiece",
    "name": "海贼王",
    "id": "onepiece3x1",
    "language": "zh_CN",
    "pic": "onepiece3x1.png",
    "category": "DT",
    "subType": "DT-1",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Street Fighter II",
    "name": "街霸",
    "id": "streetfighter3x1",
    "language": "zh_CN",
    "pic": "streetfighter3x1.png",
    "category": "DT",
    "subType": "DT-1",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Gundam",
    "name": "高达",
    "id": "gundam3x5",
    "language": "zh_CN",
    "pic": "gundam3x5.png",
    "category": "DT",
    "subType": "DT-1",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
    {
    "eName": "Saiyan Battle",
    "name": "赛亚烈战",
    "id": "dragonball",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "dragonball.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Nightclub",
    "name": "夜店之王",
    "id": "nightclub5x20",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "nightclub5x20.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Basketball Master",
    "name": "灌篮大师",
    "id": "sd",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "sd.png"
  },
    {
    "eName": "Saiyan Battle",
    "name": "赛亚烈战",
    "id": "dragonball",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "dragonball.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Nightclub",
    "name": "夜店之王",
    "id": "nightclub5x20",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "nightclub5x20.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Basketball Master",
    "name": "灌篮大师",
    "id": "sd",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "sd.png"
  },
                      {
    "eName": "Naruto",
    "name": "NINJA",
    "id": "naruto",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "naruto.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "DragonPhoenix Prosper",
    "name": "龙凤呈祥",
    "id": "dnp",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "15-20",
    "state": 1,
    "language": "zh_CN",
    "pic": "dnp.png",
    "tag": [
      "HOT",
      "NEW",
      "BFA"
    ]
  },
  {
    "eName": "Xiyouji",
    "name": "西游记",
    "id": "xiyouji5x25",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "xiyouji5x25.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Tales Of Wusong",
    "name": "武松传",
    "id": "watermargin",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "watermargin.png",
    "tag": [
      "HOT",
      "NEW",
      "CT"
    ]
  },
  {
    "eName": "Allah Lamp",
    "name": "阿拉丁神灯",
    "id": "aladdin5x243",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "aladdin5x243.png",
    "tag": [
      "HOT",
      "NEW",
      "CT"
    ]
  },
  {
    "eName": "Chinese Paladin",
    "name": "仙剑奇缘",
    "id": "xjqy5x9",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "xjqy5x9.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "FULUSHOU",
    "name": "福禄寿",
    "id": "fls",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "fls.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Demon Hunt to West",
    "name": "西游降妖",
    "id": "jtw",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "jtw.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "crazy5x243",
    "name": "疯狂转转转",
    "id": "crazy5x243",
    "category": "DT",
    "subType": "DT-2",
    "type": "DEM",
    "line": " ",
    "state": "DEM",
    "language": "zh_CN",
    "pic": "crazy5x243.png",
    "jackpot": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Happy New Year",
    "name": "新年到",
    "id": "newyear",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "newyear.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Basketball Master 2",
    "name": "灌篮大师2",
    "id": "sd5",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "sd5.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Fighting Spirit",
    "name": "格斗之魂",
    "id": "kof",
    "language": "zh_CN",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "pic": "kof.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Battle of Red Cliffs",
    "name": "赤壁之战",
    "id": "san",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "san.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Fantasy Forest",
    "name": "梦幻森林",
    "id": "fantasyforest3x1",
    "language": "zh_CN",
    "pic": "fantasyforest3x1.png",
    "category": "DT",
    "subType": "DT-1",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Five Elements",
    "name": "五行世界",
    "id": "fiveelements5x9",
    "language": "zh_CN",
    "pic": "fiveelements5x9.png",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW",
      "BFA"
    ]
  },
  {
    "eName": "XIYOUCHUANQI",
    "name": "降妖传奇",
    "id": "xiyouji5x9",
    "category": "DT",
    "subType": "DT-1",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "xiyouji5x9.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Watermargin",
    "name": "水浒传",
    "id": "watermargin5x25",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "watermargin5x25.png",
    "tag": [
      "HOT",
      "NEW",
      "BFA"
    ]
  },
  {
    "eName": "The King of Fighters98",
    "name": "拳皇98",
    "id": "kof5x9",
    "language": "zh_CN",
    "pic": "kof5x9.png",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Doraemon",
    "name": "哆啦A梦",
    "id": "doraemon3x5",
    "language": "zh_CN",
    "pic": "doraemon3x5.png",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Onepiece",
    "name": "海贼王",
    "id": "onepiece3x1",
    "language": "zh_CN",
    "pic": "onepiece3x1.png",
    "category": "DT",
    "subType": "DT-1",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Street Fighter II",
    "name": "街霸",
    "id": "streetfighter3x1",
    "language": "zh_CN",
    "pic": "streetfighter3x1.png",
    "category": "DT",
    "subType": "DT-1",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Gundam",
    "name": "高达",
    "id": "gundam3x5",
    "language": "zh_CN",
    "pic": "gundam3x5.png",
    "category": "DT",
    "subType": "DT-1",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
    {
    "eName": "Saiyan Battle",
    "name": "赛亚烈战",
    "id": "dragonball",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "dragonball.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Nightclub",
    "name": "夜店之王",
    "id": "nightclub5x20",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "nightclub5x20.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Basketball Master",
    "name": "灌篮大师",
    "id": "sd",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "sd.png"
  },
    {
    "eName": "Saiyan Battle",
    "name": "赛亚烈战",
    "id": "dragonball",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "dragonball.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Nightclub",
    "name": "夜店之王",
    "id": "nightclub5x20",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "nightclub5x20.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Basketball Master",
    "name": "灌篮大师",
    "id": "sd",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "sd.png"
  },
                      {
    "eName": "Naruto",
    "name": "NINJA",
    "id": "naruto",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "naruto.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "DragonPhoenix Prosper",
    "name": "龙凤呈祥",
    "id": "dnp",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "15-20",
    "state": 1,
    "language": "zh_CN",
    "pic": "dnp.png",
    "tag": [
      "HOT",
      "NEW",
      "BFA"
    ]
  },
  {
    "eName": "Xiyouji",
    "name": "西游记",
    "id": "xiyouji5x25",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "xiyouji5x25.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Tales Of Wusong",
    "name": "武松传",
    "id": "watermargin",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "watermargin.png",
    "tag": [
      "HOT",
      "NEW",
      "CT"
    ]
  },
  {
    "eName": "Allah Lamp",
    "name": "阿拉丁神灯",
    "id": "aladdin5x243",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "aladdin5x243.png",
    "tag": [
      "HOT",
      "NEW",
      "CT"
    ]
  },
  {
    "eName": "Chinese Paladin",
    "name": "仙剑奇缘",
    "id": "xjqy5x9",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "xjqy5x9.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "FULUSHOU",
    "name": "福禄寿",
    "id": "fls",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "fls.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Demon Hunt to West",
    "name": "西游降妖",
    "id": "jtw",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "jtw.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "crazy5x243",
    "name": "疯狂转转转",
    "id": "crazy5x243",
    "category": "DT",
    "subType": "DT-2",
    "type": "DEM",
    "line": " ",
    "state": "DEM",
    "language": "zh_CN",
    "pic": "crazy5x243.png",
    "jackpot": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Happy New Year",
    "name": "新年到",
    "id": "newyear",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "newyear.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Basketball Master 2",
    "name": "灌篮大师2",
    "id": "sd5",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "sd5.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Fighting Spirit",
    "name": "格斗之魂",
    "id": "kof",
    "language": "zh_CN",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "pic": "kof.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Battle of Red Cliffs",
    "name": "赤壁之战",
    "id": "san",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "san.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Fantasy Forest",
    "name": "梦幻森林",
    "id": "fantasyforest3x1",
    "language": "zh_CN",
    "pic": "fantasyforest3x1.png",
    "category": "DT",
    "subType": "DT-1",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Five Elements",
    "name": "五行世界",
    "id": "fiveelements5x9",
    "language": "zh_CN",
    "pic": "fiveelements5x9.png",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW",
      "BFA"
    ]
  },
  {
    "eName": "XIYOUCHUANQI",
    "name": "降妖传奇",
    "id": "xiyouji5x9",
    "category": "DT",
    "subType": "DT-1",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "xiyouji5x9.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Watermargin",
    "name": "水浒传",
    "id": "watermargin5x25",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "watermargin5x25.png",
    "tag": [
      "HOT",
      "NEW",
      "BFA"
    ]
  },
  {
    "eName": "The King of Fighters98",
    "name": "拳皇98",
    "id": "kof5x9",
    "language": "zh_CN",
    "pic": "kof5x9.png",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Doraemon",
    "name": "哆啦A梦",
    "id": "doraemon3x5",
    "language": "zh_CN",
    "pic": "doraemon3x5.png",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Onepiece",
    "name": "海贼王",
    "id": "onepiece3x1",
    "language": "zh_CN",
    "pic": "onepiece3x1.png",
    "category": "DT",
    "subType": "DT-1",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Street Fighter II",
    "name": "街霸",
    "id": "streetfighter3x1",
    "language": "zh_CN",
    "pic": "streetfighter3x1.png",
    "category": "DT",
    "subType": "DT-1",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Gundam",
    "name": "高达",
    "id": "gundam3x5",
    "language": "zh_CN",
    "pic": "gundam3x5.png",
    "category": "DT",
    "subType": "DT-1",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
    {
    "eName": "Saiyan Battle",
    "name": "赛亚烈战",
    "id": "dragonball",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "dragonball.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Nightclub",
    "name": "夜店之王",
    "id": "nightclub5x20",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "nightclub5x20.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Basketball Master",
    "name": "灌篮大师",
    "id": "sd",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "sd.png"
  },
    {
    "eName": "Saiyan Battle",
    "name": "赛亚烈战",
    "id": "dragonball",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "dragonball.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Nightclub",
    "name": "夜店之王",
    "id": "nightclub5x20",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "nightclub5x20.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Basketball Master",
    "name": "灌篮大师",
    "id": "sd",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "sd.png"
  },
                      {
    "eName": "Naruto",
    "name": "NINJA",
    "id": "naruto",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "naruto.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "DragonPhoenix Prosper",
    "name": "龙凤呈祥",
    "id": "dnp",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "15-20",
    "state": 1,
    "language": "zh_CN",
    "pic": "dnp.png",
    "tag": [
      "HOT",
      "NEW",
      "BFA"
    ]
  },
  {
    "eName": "Xiyouji",
    "name": "西游记",
    "id": "xiyouji5x25",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "xiyouji5x25.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Tales Of Wusong",
    "name": "武松传",
    "id": "watermargin",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "watermargin.png",
    "tag": [
      "HOT",
      "NEW",
      "CT"
    ]
  },
  {
    "eName": "Allah Lamp",
    "name": "阿拉丁神灯",
    "id": "aladdin5x243",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "aladdin5x243.png",
    "tag": [
      "HOT",
      "NEW",
      "CT"
    ]
  },
  {
    "eName": "Chinese Paladin",
    "name": "仙剑奇缘",
    "id": "xjqy5x9",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "xjqy5x9.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "FULUSHOU",
    "name": "福禄寿",
    "id": "fls",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "fls.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Demon Hunt to West",
    "name": "西游降妖",
    "id": "jtw",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "jtw.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "crazy5x243",
    "name": "疯狂转转转",
    "id": "crazy5x243",
    "category": "DT",
    "subType": "DT-2",
    "type": "DEM",
    "line": " ",
    "state": "DEM",
    "language": "zh_CN",
    "pic": "crazy5x243.png",
    "jackpot": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Happy New Year",
    "name": "新年到",
    "id": "newyear",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "newyear.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Basketball Master 2",
    "name": "灌篮大师2",
    "id": "sd5",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "sd5.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Fighting Spirit",
    "name": "格斗之魂",
    "id": "kof",
    "language": "zh_CN",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "pic": "kof.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Battle of Red Cliffs",
    "name": "赤壁之战",
    "id": "san",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "san.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Fantasy Forest",
    "name": "梦幻森林",
    "id": "fantasyforest3x1",
    "language": "zh_CN",
    "pic": "fantasyforest3x1.png",
    "category": "DT",
    "subType": "DT-1",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Five Elements",
    "name": "五行世界",
    "id": "fiveelements5x9",
    "language": "zh_CN",
    "pic": "fiveelements5x9.png",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW",
      "BFA"
    ]
  },
  {
    "eName": "XIYOUCHUANQI",
    "name": "降妖传奇",
    "id": "xiyouji5x9",
    "category": "DT",
    "subType": "DT-1",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "xiyouji5x9.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Watermargin",
    "name": "水浒传",
    "id": "watermargin5x25",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "watermargin5x25.png",
    "tag": [
      "HOT",
      "NEW",
      "BFA"
    ]
  },
  {
    "eName": "The King of Fighters98",
    "name": "拳皇98",
    "id": "kof5x9",
    "language": "zh_CN",
    "pic": "kof5x9.png",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Doraemon",
    "name": "哆啦A梦",
    "id": "doraemon3x5",
    "language": "zh_CN",
    "pic": "doraemon3x5.png",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Onepiece",
    "name": "海贼王",
    "id": "onepiece3x1",
    "language": "zh_CN",
    "pic": "onepiece3x1.png",
    "category": "DT",
    "subType": "DT-1",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Street Fighter II",
    "name": "街霸",
    "id": "streetfighter3x1",
    "language": "zh_CN",
    "pic": "streetfighter3x1.png",
    "category": "DT",
    "subType": "DT-1",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Gundam",
    "name": "高达",
    "id": "gundam3x5",
    "language": "zh_CN",
    "pic": "gundam3x5.png",
    "category": "DT",
    "subType": "DT-1",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
    {
    "eName": "Saiyan Battle",
    "name": "赛亚烈战",
    "id": "dragonball",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "dragonball.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Nightclub",
    "name": "夜店之王",
    "id": "nightclub5x20",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "nightclub5x20.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Basketball Master",
    "name": "灌篮大师",
    "id": "sd",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "sd.png"
  },
    {
    "eName": "Saiyan Battle",
    "name": "赛亚烈战",
    "id": "dragonball",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "dragonball.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Nightclub",
    "name": "夜店之王",
    "id": "nightclub5x20",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "nightclub5x20.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Basketball Master",
    "name": "灌篮大师",
    "id": "sd",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "sd.png"
  },
                    {
    "eName": "Saiyan Battle",
    "name": "赛亚烈战",
    "id": "dragonball",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "dragonball.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Nightclub",
    "name": "夜店之王",
    "id": "nightclub5x20",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "nightclub5x20.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Basketball Master",
    "name": "灌篮大师",
    "id": "sd",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "sd.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Investiture of Gods",
    "name": "封神榜",
    "id": "tlod",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "tlod.png",
    "tag": [
      "HOT",
      "NEW",
      "BFA"
    ]
  },
  {
    "eName": "whitesnake",
    "name": "白蛇传",
    "id": "whitesnake",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "whitesnake.png",
    "tag": [
      "HOT",
      "NEW",
      "CT"
    ]
  },
  {
    "eName": "Glory of Heroes",
    "name": "英雄荣耀",
    "id": "crystal",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "crystal.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "casino ",
    "name": "3D老虎机",
    "id": "casino",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "casino.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Seiya",
    "name": "圣域传说",
    "id": "seiya",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "seiya.png",
    "tag": [
      "HOT",
      "NEW",
      "CT"
    ]
  },
  {
    "eName": "Fourss",
    "name": "四圣兽",
    "id": "fourss",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "fourss.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Crazy Basketball",
    "name": "劲爆篮球",
    "id": "btball5x20",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "20-25",
    "state": 1,
    "language": "zh_CN",
    "pic": "btball5x20.png",
    "tag": [
      "HOT",
      "NEW",
      "BFA"
    ]
  },
  {
    "eName": "KING OF PIRATE",
    "name": "海盗无双",
    "id": "onepiece",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "onepiece.png",
    "tag": [
      "HOT",
      "NEW",
      "CT"
    ]
  },
  {
    "eName": "Wealthy God Arriving",
    "name": "财神到",
    "id": "tgow",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "tgow.png",
    "tag": [
      "NEW",
      "HOT"
    ]
  },
  {
    "eName": "Naruto",
    "name": "NINJA",
    "id": "naruto",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "naruto.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "DragonPhoenix Prosper",
    "name": "龙凤呈祥",
    "id": "dnp",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "15-20",
    "state": 1,
    "language": "zh_CN",
    "pic": "dnp.png",
    "tag": [
      "HOT",
      "NEW",
      "BFA"
    ]
  },
  {
    "eName": "Xiyouji",
    "name": "西游记",
    "id": "xiyouji5x25",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "xiyouji5x25.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Tales Of Wusong",
    "name": "武松传",
    "id": "watermargin",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "watermargin.png",
    "tag": [
      "HOT",
      "NEW",
      "CT"
    ]
  },
  {
    "eName": "Allah Lamp",
    "name": "阿拉丁神灯",
    "id": "aladdin5x243",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "aladdin5x243.png",
    "tag": [
      "HOT",
      "NEW",
      "CT"
    ]
  },
  {
    "eName": "Chinese Paladin",
    "name": "仙剑奇缘",
    "id": "xjqy5x9",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "xjqy5x9.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "FULUSHOU",
    "name": "福禄寿",
    "id": "fls",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "fls.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Demon Hunt to West",
    "name": "西游降妖",
    "id": "jtw",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "jtw.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "crazy5x243",
    "name": "疯狂转转转",
    "id": "crazy5x243",
    "category": "DT",
    "subType": "DT-2",
    "type": "DEM",
    "line": " ",
    "state": "DEM",
    "language": "zh_CN",
    "pic": "crazy5x243.png",
    "jackpot": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Happy New Year",
    "name": "新年到",
    "id": "newyear",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "newyear.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Basketball Master 2",
    "name": "灌篮大师2",
    "id": "sd5",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "sd5.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Fighting Spirit",
    "name": "格斗之魂",
    "id": "kof",
    "language": "zh_CN",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "pic": "kof.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Battle of Red Cliffs",
    "name": "赤壁之战",
    "id": "san",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "san.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Fantasy Forest",
    "name": "梦幻森林",
    "id": "fantasyforest3x1",
    "language": "zh_CN",
    "pic": "fantasyforest3x1.png",
    "category": "DT",
    "subType": "DT-1",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Five Elements",
    "name": "五行世界",
    "id": "fiveelements5x9",
    "language": "zh_CN",
    "pic": "fiveelements5x9.png",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW",
      "BFA"
    ]
  },
  {
    "eName": "XIYOUCHUANQI",
    "name": "降妖传奇",
    "id": "xiyouji5x9",
    "category": "DT",
    "subType": "DT-1",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "xiyouji5x9.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Watermargin",
    "name": "水浒传",
    "id": "watermargin5x25",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "watermargin5x25.png",
    "tag": [
      "HOT",
      "NEW",
      "BFA"
    ]
  },
  {
    "eName": "The King of Fighters98",
    "name": "拳皇98",
    "id": "kof5x9",
    "language": "zh_CN",
    "pic": "kof5x9.png",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Doraemon",
    "name": "哆啦A梦",
    "id": "doraemon3x5",
    "language": "zh_CN",
    "pic": "doraemon3x5.png",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Onepiece",
    "name": "海贼王",
    "id": "onepiece3x1",
    "language": "zh_CN",
    "pic": "onepiece3x1.png",
    "category": "DT",
    "subType": "DT-1",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Street Fighter II",
    "name": "街霸",
    "id": "streetfighter3x1",
    "language": "zh_CN",
    "pic": "streetfighter3x1.png",
    "category": "DT",
    "subType": "DT-1",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Gundam",
    "name": "高达",
    "id": "gundam3x5",
    "language": "zh_CN",
    "pic": "gundam3x5.png",
    "category": "DT",
    "subType": "DT-1",
    "type": "SLO",
    "line": "",
    "state": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
    {
    "eName": "Saiyan Battle",
    "name": "赛亚烈战",
    "id": "dragonball",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "dragonball.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Nightclub",
    "name": "夜店之王",
    "id": "nightclub5x20",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "nightclub5x20.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Basketball Master",
    "name": "灌篮大师",
    "id": "sd",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "sd.png"
  },
    {
    "eName": "Saiyan Battle",
    "name": "赛亚烈战",
    "id": "dragonball",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "dragonball.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Nightclub",
    "name": "夜店之王",
    "id": "nightclub5x20",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "nightclub5x20.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Basketball Master",
    "name": "灌篮大师",
    "id": "sd",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "sd.png"
  },
                      {
    "eName": "Naruto",
    "name": "NINJA",
    "id": "naruto",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "naruto.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "DragonPhoenix Prosper",
    "name": "龙凤呈祥",
    "id": "dnp",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "15-20",
    "state": 1,
    "language": "zh_CN",
    "pic": "dnp.png",
    "tag": [
      "HOT",
      "NEW",
      "BFA"
    ]
  },
  {
    "eName": "Xiyouji",
    "name": "西游记",
    "id": "xiyouji5x25",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "xiyouji5x25.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Tales Of Wusong",
    "name": "武松传",
    "id": "watermargin",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "watermargin.png",
    "tag": [
      "HOT",
      "NEW",
      "CT"
    ]
  },
  {
    "eName": "Allah Lamp",
    "name": "阿拉丁神灯",
    "id": "aladdin5x243",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "aladdin5x243.png",
    "tag": [
      "HOT",
      "NEW",
      "CT"
    ]
  },
  {
    "eName": "Chinese Paladin",
    "name": "仙剑奇缘",
    "id": "xjqy5x9",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "xjqy5x9.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "FULUSHOU",
    "name": "福禄寿",
    "id": "fls",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": "1",
    "language": "zh_CN",
    "pic": "fls.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Demon Hunt to West",
    "name": "西游降妖",
    "id": "jtw",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "jtw.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "crazy5x243",
    "name": "疯狂转转转",
    "id": "crazy5x243",
    "category": "DT",
    "subType": "DT-2",
    "type": "DEM",
    "line": " ",
    "state": "DEM",
    "language": "zh_CN",
    "pic": "crazy5x243.png",
    "jackpot": 1,
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Happy New Year",
    "name": "新年到",
    "id": "newyear",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "newyear.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Basketball Master 2",
    "name": "灌篮大师2",
    "id": "sd5",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "language": "zh_CN",
    "pic": "sd5.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  },
  {
    "eName": "Fighting Spirit",
    "name": "格斗之魂",
    "id": "kof",
    "language": "zh_CN",
    "category": "DT",
    "subType": "DT-2",
    "type": "SLO",
    "line": "",
    "state": 1,
    "pic": "kof.png",
    "tag": [
      "HOT",
      "NEW"
    ]
  }
                ]
            };
        },
        methods: {
            handleSuccess(file, fileList) {
                this.count += 1;
                this.jsonUrl = fileList.url;
                this.readJson()
            },

            beforeUpload(file) {
                const isJSON = file.name.split('.')[1] === 'json';

                if (!isJSON) {
                    this.$message.error('上传文件只能是 JSON 格式!');
                }
                return isJSON
            },
            readJson() {
                axios.get(this.jsonUrl).then( res => {
                    this.jsondata = res.data;
                });
            },
            dragEnd() {
                console.log(this.jsondata);
                this.jsonstr = {};
                for (var i = 1, len = this.jsondata.length + 1; i < len; i++) {
                    this.jsonstr[i] = this.jsondata[i - 1]
                }
            },
            deleteJson() {
                this.fileList = [];
                this.count = 0;
                this.jsondata = [];
                this.jsonstr = {"data": "拖拽后生成数据"};
                this.showjson = false
            }
        }
    };
    var Ctor = Vue.extend(Main);
    new Ctor().$mount('#app')
</script>
</html>