html {
    background: url('../../assets/bg/bg5.jpg');
    background-size:cover;
}

.el-menu--dark {
    background: rgba(3, 1, 1, 0.5);
}

.el-menu-item {
    background: rgba(3, 1, 1, 0.85);
}
.el-menu.navbar.el-menu--horizontal {
    border-radius: 5px!important;
}

.el-submenu__title{
    padding-left: 28px!important;
    width: 200px!important;
    font-size: 16px;
}

.el-menu-item.is-active {
    border-right: solid #58ff28 2px;
}
/*!* 表格透明 *!*/
/*.el-table {*/
    /*background-color: transparent;  !*透明*!*/
    /*border-radius: 5px;   !* 边框圆角 *!*/
/*}*/

/*!* 表格整体透明 *!*/
 /*.el-table th,.el-table th>.cell {*/
     /*color: #fff;*/
    /*background: rgba(3, 1, 1, 0.27);*/
 /*}*/
/*.el-table tr{*/
    /*color: #eef1f6;*/
    /*background: rgba(3, 1, 1, 0.53);*/
    /*background-color: transparent;   !* 透明 *!*/
/*}*/
/*.el-table__row:hover {*/
    /*background-color: rgba(3, 1, 1, 0.85);*/
/*}*/

.table-pagination {
    padding-top: 10px;
    margin-right: -13px;
    float: right;
}

.body-main {
    padding: 20px;
}

.el-dialog {
    background: rgba(3, 1, 1, 0.71)
}

.el-dialog .el-form-item label {
    color: #58ff28;
    font-weight: 400;
}

.el-breadcrumb__item__inner a {
    color: rgba(5, 97, 255, 0.73);
}

/* cmd */
.el-collapse-item__content {
    background-color: #000000;
    color: #18ff1e;
    word-spacing: 5px;
    border-radius: 5px;
}

.el-textarea.is-disabled .el-textarea__inner {
    color: #0e0e0e;
}