html {
    background: url('../../assets/bg.jpg');
}

.el-menu--dark {
    background: rgba(3, 1, 1, 0.5)
}

.el-menu-item {
    background: rgba(3, 1, 1, 0.85)
}
.el-menu.navbar.el-menu--horizontal {
    border-radius: 5px!important;
}

.sidebar-container {
    right: -70px;
}

.el-submenu__title{
    padding-left: 28px!important;
    width: 200px!important;      /*可控制白边*/
    font-size: 16px;
}

/* 表格透明 */
.el-table {
    background-color: transparent;  /*透明*/
    border-radius: 5px;   /* 边框圆角 */
}

/* 表格整体透明 */
 /*.el-table th,.el-table th>.cell {*/
     /*color: #fff;*/
    /*background: rgba(3, 1, 1, 0.27)*/
 /*}*/
/*.el-table tr{*/
    /*color: #eef1f6;*/
    /*background: rgba(3, 1, 1, 0.53)*/
    /*!*background-color: transparent;   透明*!*/
/*}*/
/*.el-table__row:hover {*/
    /*background-color: rgba(3, 1, 1, 0.85)*/
/*}*/

.table-pagination {
    padding-top: 10px;
    margin-right: -13px;
    float: right;
}

.body-main {
    padding: 20px;
}

.el-dialog {
    background: rgba(3, 1, 1, 0.71)
}

.el-dialog .el-form-item label {
    color: #58ff28;
    font-weight: 100;
}

.el-breadcrumb__item__inner a {
    color: rgba(5, 97, 255, 0.73);
}