html {
    background: url('../../assets/bg.jpg');
}

.el-menu--dark {
    background: rgba(3, 1, 1, 0.5)
}

.el-menu-item {
    background: rgba(3, 1, 1, 0.85)
}
.el-menu.navbar.el-menu--horizontal {
    border-radius: 5px!important;
}
.el-table {
    border: 0;
    background-color: #4AB7BD;
    border-radius: 5px;
}

.table-pagination {
    padding-top: 10px;
    margin-right: -13px;
    float: right;
}

.body-main {
    padding: 20px;
}

.el-dialog {
    background: rgba(3, 1, 1, 0.71)
}

.el-dialog .el-form-item label {
    color: #58ff28;
    font-weight: 100;
}

.el-breadcrumb__item__inner a {
    color: rgba(5, 97, 255, 0.73);
}