*.pyc
*.db
/static/*
.idea/
.DS_Store
.python-version
node_modules/
gifs/
dist/
upload/
migrations/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log
node_modules/
dist/
static/ckeditor